<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/styles/get-url-page.css">
</head>
<body>
    <div id="container">
        <h1 id="heading"><%= title %></h1>
        <% if (!key) { %>
            <form action="<%= api_url %>" method="post">
                <input id="input-box" type="text" name="url" id="long_url" placeholder="Original URL">
                <button id="submit-button" type="submit">Get your short url</button>
            </form>
        <% }else{ %>
            <div id="result-container">
                <h2 id="result-heading">This is your Mini URL: </h2><input type="text" id="result" value="<%= key %>" size="6" onclick="copyText(event)" readonly/>
                <p style="text-align: center;font-size: large;font-weight: 600;">Click the text to copy.</p>
            </div>
        <% } %>
    </div>
    <script>
        function copyText(e){
            // console.log("result: "+e.target.value)
            // const text = e.value
            navigator.clipboard.writeText(e.target.value)
            alert('copied');
        }
    </script>
</body>
</html>